
body {
margin: 0;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
 
code {
font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
monospace;
}
 
a{
color: #fff;
}
 
p {
margin-bottom: 1rem;
}
 
/* Design based on Blue Login Field of Kevin Sleger https://codepen.io/MurmeltierS/pen/macKb */
body {
background: #d4d8d9 ;
background-size: cover;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
body::before {
z-index: -1;
content: '';
position: fixed;
top: 0;
left: 0;
background: #8e8d8a;
/* IE Fallback */
 
background: #8e8d8a;
width: 100%;
height: 100%;
}
.form {
position: absolute;
top: 30%;
left: 50%;
background: #E98074;
width: 285px;
margin: -140px00-182px;
padding: 40px;
box-shadow: 003pxrgba(0, 0, 0, 0.3);
}
.formh2 {
margin: 0020px;
line-height: 1;
color: #fff;
font-size: 18px;
font-weight: 400;
text-align: center;
}
.forminput {
outline: none;
display: block;
width: 100%;
margin: 0020px;
padding: 10px15px;
border: 1pxsolid#ccc;
color: #ccc;
font-family: "Roboto";
box-sizing: border-box;
font-size: 14px;
font-weight: 400;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
transition: 0.2slinear;
}
.form inputinput:focus {
color: #333;
border: 1pxsolid#44c4e7;
}
.formbutton {
cursor: pointer;
background: #8e8d8a;
width: 100%;
padding: 10px15px;
border: 0;
color: #fff;
font-family: "Roboto";
font-size: 14px;
font-weight: 400;
margin-bottom: 10px;
}
.formbutton:hover {
background: #504f4e;
}
 
.mg{ 
margin: 10px;
}

